.logo-zshop {
    width: 40%;
    margin: 5px auto 0px auto;
}

.row-two {
    display: flex;
    flex-wrap: wrap;
}

.col-2-5, .col-5-5 {
    width: 40%;
}

.col-3-5, .col-4-5 {
    width: 60%;
}

.col-6-2, .col-7-2 {
    width: 50%;
}

.row-footer {
    display: flex;
    vertical-align: bottom;
}

.col-1-3-foo {
    width: 33%;
    margin: 0 20px 0 0;
}

.row-contact {
    display: flex;
    gap: 14px;
    justify-content: space-between;
}

.col-1-3 {
    width: 300px;
}